<ion-header>
  <ion-navbar>
    <ion-title>Explore</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div style="text-align:center; margin: 15px 0" [hidden]="!loading || refreshing">
    <img src="assets/loading.svg" width="64" height="64">
  </div>

  <ion-list>
    <div class="list-card" *ngFor="let story of stories" (click)="gotoStory(story.id)">
      <div class="story-image">
        <img class="story-image" [src]="story.image_url">
      </div>
      <div class="story-title">
        <h1 [innerHtml]="story.title"></h1>
      </div>
      <div class="story-meta">
        <span class="story-category" [innerHtml]="story.category"></span>
        <span class="story-date">{{ story.date | date:'mediumDate' }}</span>
      </div>
    </div>
  </ion-list>

  <div style="padding: 0 15px; margin: 30px 0" *ngIf="endOfFeed && stories !== undefined">
    <p style="text-align: center">There are no more stories.</p>
  </div>

  <ion-infinite-scroll (ionInfinite)="nextPage($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
